<a href="https://colab.research.google.com/github/priya-web-coder/python-codes/blob/main/Priya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ***Variables and data types***

In [ ]:
#input two numbers and print sum

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
result = num1 + num2
print("answer:",result)

Enter first number: 20
Enter second number: 10
answer: 30

In [ ]:
#input side of a square and print its area

side = int(input("Enter side of square:"))
area = side * side
print("area:", area)

Enter side of square:20
area: 400

In [ ]:
#input two floating numbers and print their average

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
result = (a+b)/2
print("average:", result)

Enter first number: 20
Enter second number: 10
average: 15.0

In [ ]:
#to print two int numbers a and b. print true if a is greater than b. print false if not

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
if a>=b:
  print(True)
else:
  print(False)

Enter first number: 10
Enter second number: 20
False

### ***Strings and Conditional Statements***

In [ ]:
#input user's first name and print its length

name = input("Enter user's first name: ")
name = len(name)
print("length:", name)

Enter user's first name: Priya
length: 5

In [ ]:
#find the occurrence of $ in a string

str = "HI, $Iam the $ symbol $98"
print(str.count("$"))

3

In [ ]:
#to check if the number entered by the user is odd or even

num = float(input("Enter any nummber: "))

if num%2 == 0:
  print("even")
else:
  print("odd")

Enter any nummber: 40
even

In [ ]:
#find greatest of 3 numbers entered by the user

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if a>b and a>c:
  print("a is greatest")
elif b>a and b>c:
  print("b is greatest")
else:
  print("c is greatest")

Enter first number: 2
Enter second number: 3
Enter third number: 5
c is greatest

In [ ]:
#to check if a number is a multiple of 7 or not

num = float(input("Enter any number: "))

if num%7 == 0:
  print("multiple of 7")
else:
  print("not a multiple of 7")

Enter any number: 48
not a multiple of 7

### ***List and tuples***

In [ ]:
#to enter 3 movies and store them in a list
movies = []
mov1 = input("Enter first movie: ")
mov2 = input("Enter second movie: ")
mov3 = input("Enter third movie: ")
movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

Enter first movie: dilwale
Enter second movie: ddlj
Enter third movie: k3g
['dilwale', 'ddlj', 'k3g']

In [ ]:
#to count number of students with "A" grade in the tuple

grades = ["C", "D", "A", "A", "B", "B", "A"]
print(grades.count("A"))

3

In [ ]:
#to sort the values in a list and sort them in ascending

grades = ["C", "D", "A", "A", "B", "B", "A"]
grades.sort()
print(grades)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

### ***Dictionaries and sets***

In [ ]:
#dictionaries example
info = {
    "name" : "priya",
    "age" : "21",
    "learning" : "python",
    "hobby" : "dancing",
    21.2 : 94.4
}
print(info)
print(type(info))

{'name': 'priya', 'age': '21', 'learning': 'python', 'hobby': 'dancing', 21.2: 94.4}
<class 'dict'>

In [ ]:
#students name and marks in their subject

students = {
    "name" : {
        "student1" : "priya",
        "student2" : "neha",
        "student3" : "rahul",
    },
    "subject" : {
        "subject1" : "maths",
        "subject2" : "physics",
        "subject3" : "chemistry",
    },
    "marks" : {
        "maths" : ["70", "80", "90", "100"],
        "physics" : ["60", "70", "80", "90"],
        "chemistry" : ["50", "60", "70", "80"]
    },
}
print((students.items()))

dict_items([('name', {'student1': 'priya', 'student2': 'neha', 'student3': 'rahul'}), ('subject', {'subject1': 'maths', 'subject2': 'physics', 'subject3': 'chemistry'}), ('marks', {'maths': ['70', '80', '90', '100'], 'physics': ['60', '70', '80', '90'], 'chemistry': ['50', '60', '70', '80']})])

In [ ]:
#store following word meanings in python dictionary
dictionary = {
    "cat" : "a small animal",
    "table" : ["a piece of furniture", "list of facts and figures"]
}
print(dictionary)

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts and figures']}

In [ ]:
#how many classrooms are required for each subject
subjects = {
    "python", "java", "C++", "python", "javascript", "java", "python", "java", "C++", "C"
}
print(len(subjects))

5

In [ ]:
#to enter marks of 3 subjects from user and store in a dictionary. start with empty dictionary and add one by one. use subject name as key and marks as value
marks = {}
sub1 = int(input("Enter chem: "))
marks.update({"chem": sub1})

sub2 = int(input("Enter phy: "))
marks.update({"phy": sub2})

sub3 = int(input("Enter maths: "))
marks.update({"maths": sub3})

print(marks)

Enter chem: 90
Enter phy: 89
Enter maths: 78
{'chem': 90, 'phy': 89, 'maths': 78}

In [ ]:
#store 9 and 9.0 in a set

set = {9, "9.0"}
print(set)


values = {
    ("float", 9.0),
    ("int", 9)
}
print(values)

{9, '9.0'}
{('int', 9), ('float', 9.0)}

In [ ]:
#take a string of 500 characters and break it into five variables

str = ("The quick brown fox jumps over the lazy dog. This classic phrase is often used for typing practice because it contains every letter of the alphabet. It's a useful way to test keyboards and fonts. In many situations, adhering to character limits is essential, whether for social media posts, descriptions, or short stories. For instance, some applications require essays of a specific character count. Word count, on the other hand, measures the number of words, which is useful for readability and length assessment. ")

text = str[:500]
var1 = str[0:100]
var2 = str[100:200]
var3 = str[200:300]
var4 = str[300:400]
var5 = str[400:500]

print("first variable:", var1)
print("second variable:", var2)
print("third variable:", var3)
print("fourth variable:", var4)
print("fifth variable:", var5)

#for i in range(100):
 # print(var1[i], var2[i], var3[i], var4[i], var5[i])




#var = str.split('.', maxsplit=5)
#print("length:" , len(str), var)

first variable: The quick brown fox jumps over the lazy dog. This classic phrase is often used for typing practice b
second variable: ecause it contains every letter of the alphabet. It's a useful way to test keyboards and fonts. In m
third variable: any situations, adhering to character limits is essential, whether for social media posts, descripti
fourth variable: ons, or short stories. For instance, some applications require essays of a specific character count.
fifth variable:  Word count, on the other hand, measures the number of words, which is useful for readability and le

### ***Sets in Python***::            sets are always in {}

In [ ]:
collection = set()
collection.add(1)
collection.add("priya")
collection.add((1,2,3,4))

collection.remove("priya")
print(collection, type(collection))

{(1, 2, 3, 4), 1} <class 'set'>

In [ ]:
set = {1, 2, 3, "priya"}
set.add("singh")
set.remove(1)
set.remove(2)
set.remove(3)
print(set, type(set))

{'singh', 'priya'} <class 'set'>

### ***Loops***

In [ ]:
#while loop

count = 1
while count<=5:
  print("hello")
  count += 1
print(count)

i = 1
while i<=5:
  print("hello")
  i += 1


#print numbers from 1 to 5
i = 5
while i >= 1:
  print(i)
  i-=1
print("loop ended")

hello
hello
hello
hello
hello
6
hello
hello
hello
hello
hello
5
4
3
2
1
loop ended

In [ ]:
#print numbers from 1 to 100
i = 1
while i <= 100:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#print numbers from 100 to 1
i = 100
while i >=1:
  print(i)
  i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#print the multiplication table for number n

n = int(input("Enter any number:"))
i = 1
while i <= 10:
  print(n*i)
  i += 1

Enter any number:50
50
100
150
200
250
300
350
400
450
500

In [ ]:
#print the elements of the following list using a loop: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
num = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
idx = 0
while idx < len(num):
  print(num[idx])
  idx += 1

1
4
9
16
25
36
49
64
81
100

In [ ]:

#search for a number x in this tuple using loop: (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

num = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

x = 36
i = 0
while i < len(num):
  if(num[i] == x):
    print("found at index" ,i)
    break
  else:
    print("not found")
  i += 1

not found
not found
not found
not found
not found
found at index 5

In [ ]:
i = 0
while i <= 5:
  if(i==3):
    i += 1
    continue
  print(i)
  i += 1

0
1
2
4
5

# ***MY EXAMPLE***

In [2]:
#just example

str = ("priya singh hello i am from vjti.")
for var in str:
  print(var)




  #if var == str[:100]:
   # print("first variable")
  #elif var == str[100:200]:
   # print("second variable")
  #elif var == str[200:300]:
   # print("third variable")
  #elif var == str[300:400]:
   # print("fourth variable")
  #elif var == str[400:500]:
   # print("fifth variable")

  #else:
    #print("invalid")
#text = str[:500]
#var1 = str[0:100]
#var2 = str[100:200]
#var3 = str[200:300]
#var4 = str[300:400]
#var5 = str[400:500]

#print("first variable:", var1)
#print("second variable:", var2)
#print("third variable:", var3)
#print("fourth variable:", var4)
#print("fifth variable:", var5)

#for i in range(100):
 # print(var1[i], var2[i], var3[i], var4[i], var5[i])




#var = str.split('.', maxsplit=5)
#print("length:" , len(str), var)

p
r
i
y
a

s
i
n
g
h

h
e
l
l
o

i

a
m

f
r
o
m

v
j
t
i
.

In [ ]:
#print the elements of following list using a loop: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

for val in nums:
  print(val)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#linear search
#search for a number x in this tuple using a loop

nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
x = 25
i = 0
for val in nums:
  if (val == x):
    print("Found at", i)
  i += 1

Found at 4

### ***QUESTIONS GIVEN BY SIR***

In [ ]:
 # eliminate duplicate characters from Geeksforgeeks and print unique characters

str = "GEEKSFORGEEKS"
unique = ""
for char in str:
  if char not in unique:
    unique += char
print(unique)
 # else:
 #   print("end")

GEKSFOR

In [ ]:
 # eliminate duplicate characters from Geeksforgeeks and print unique characters

str = "GEEKSFORGEEKS"
unique = ""
for char in str:
  if char not in unique:
    unique += char
for var in unique:
  print(var)
 # else:
 #   print("end")

G
E
K
S
F
O
R

In [ ]:
# eliminate duplicate characters from Geeksforgeeks and print unique characters

str = "GEEKSFORGEEKS"
unique = ""
for char in str:
  if char not in unique:
    unique += char
for var in reversed(unique):
  print(var)
 # else:
 #   print("end")

R
O
F
S
K
E
G

In [7]:
str = ("The quick brown fox jumps over the lazy dog. This classic phrase is often used for typing practice because it contains every letter of the alphabet. It's a useful way to test keyboards and fonts. In many situations, adhering to character limits is essential, whether for social media posts, descriptions, or short stories. For instance, some applications require essays of a specific character count. Word count, on the other hand, measures the number of words, which is useful for readability and length assessment.")

var = str.split('.', maxsplit=5)
print("length:" , len(str), var)

for sentence in var:
        print(sentence + '.')

length: 516 ['The quick brown fox jumps over the lazy dog', ' This classic phrase is often used for typing practice because it contains every letter of the alphabet', " It's a useful way to test keyboards and fonts", ' In many situations, adhering to character limits is essential, whether for social media posts, descriptions, or short stories', ' For instance, some applications require essays of a specific character count', ' Word count, on the other hand, measures the number of words, which is useful for readability and length assessment.']
The quick brown fox jumps over the lazy dog.
 This classic phrase is often used for typing practice because it contains every letter of the alphabet.
 It's a useful way to test keyboards and fonts.
 In many situations, adhering to character limits is essential, whether for social media posts, descriptions, or short stories.
 For instance, some applications require essays of a specific character count.
 Word count, on the other hand, measures the number of words, which is useful for readability and length assessment..

# ***LOOPS (RANGE)***

In [8]:
#print numbers from 1 to 100

for i in range(1, 100+1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [11]:
#print numbers from 100 to 1

for i in range (1, 101):
  print(101-i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [12]:
#print multiplicatoin table of a number n

num = int(input("Enter any number: "))
for i in range(1, 12+1):
  print(num*i)

Enter any number: 3
3
6
9
12
15
18
21
24
27
30
33
36

In [13]:
#to find the sum of first n natural numbers(using while)

n = 5
sum = 0
i = 1
while i <= n:
  sum += i
  i += 1
print(sum)

15

In [18]:
#to find the factorial of first n natural numbers(using for)

n = 6
factorial = 1
i = 1
for i in range(1, n+1):
  factorial *= i
  print(factorial)

1
2
6
24
120
720